@use '../../styles/variables' as *;

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%; // квадрат
  background-color: #111;
  transition: background-color 0.3s;

  .icon-base,
  .icon-on {
    position: absolute;
    width: 70%;
    height: 70%;
    object-fit: contain;
    top: 15%;
    left: 15%;
  }

  .icon-on {
    opacity: 0;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    animation: fadeIn 0.3s forwards;
    z-index: 2;
  }

  &.active {
    background-color: #1e1e2e;

    .icon-on {
      opacity: 1;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
