.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;

  transition: background-color 0.3s;
  border-radius: 10px; 

  .icon-base,
  .icon-on {
    position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
    object-fit: contain;
  
  }

  .icon-on {
    opacity: 0;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
    animation: fadeIn 0.3s forwards;
    z-index: 2;
  }

  &.active {
    background-color: #1e1e2e;

    .icon-on {
      opacity: 1;
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
