.board {
  display: grid;
grid-template-columns: repeat(6, 1fr); // якщо 6x6
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
  justify-content: center;
  align-items: center;
  background-color: #111;
  padding: 20px;
  border-radius: 12px;
  margin: 0 auto;
}

.cell,
.empty-cell {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
