@use './variables' as *;

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background: $bg-color;
  color: $text-color;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.game-wrapper {
  position: relative;
  width: 500px;
  height: 500px;
}
